<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-"/>
    <title>Confirm reset password email</title>
  </head>

  <body style="text-align: center;">
    <h2>Hello!</h2>
    <br>
    <p><b>your are receiving this email because you requested a password reset for your user account at {{ site_name }}.</b></p>
    <br>
    <p> Please go to the following page and choose a new password: </p>
    <p> {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    <p> You username, in case you have forgotten: {{ user.get_username }} </p>
    <br>
    <p><i> Thanks for using our site! The {{ site_name }} team.</i></p>
  </body>
</html>

